@import url(./common.css);

.inner {
  width: 100%;
  height: 100%;
}

/* ====================================
============== header ===============    
==================================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
}
.gnb_inner {
  height: 10rem;
  padding:0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #fff;
  box-sizing: border-box;
}

.logo img {
  width: 12.2rem;
}

.nav {
  width: 76rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav li a {
  color: #ff4713;
}
.nav li {
  width: 14rem;
  height: 5rem;
  margin: 0 25px;
  line-height: 5rem;
  letter-spacing: -0.5px;
}
.util {
  width: 25.4rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.util button {
  border-radius: 2rem;
  background: #ff4713;
  color: white;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0.7rem 2.4rem;
  margin-right: 16px;
  border: 1px solid transparent;
}
.util img {

  vertical-align: top;
}
/* ====================================
============== mainBanner ===============    
==================================== */

.mainBanner_inner img {
  width: 100%;
}
/* ====================================
============== product ===============    
==================================== */
.product_inner {
  height: 70rem;
  background: var(--gray_700);
  display: flex;
}
.half {
  width: 50%;
  height: 100%;
}
.leftImg {
  background: var(--gray_500);
}
.rightImg {
  background: var(--gray_400);
}

/* ====================================
============== brand ===============    
==================================== */
.guide {
  margin: 16rem 0;
  display: flex;
  justify-content: center;
}

.guide>img {
  width: 41rem;
  height: 12.4rem;
  background: var(--gray_500);
}

.brandImg {
  height: 55.1rem;
  background: var(--gray_600);
}

.textSlide {
  height: 10.5rem;
  display: flex;
  align-items: center;
}

.textline {
  height: 5.3rem;
  background: var(--gray_500);
}
/* ====================================
============== newsEvent ===============    
==================================== */
.newsEvent_inner {
  background: var(--gray_500);
  display: flex;
}

.leftNE {
  width: 40%;
  background: var(--gray_500);
  display: flex;
  flex-direction: column;
}

.rightNE {
  width: 60%;
  background: var(--gray_700);
}

.eBox {
  height: 22.4rem;
}

.event1,.event3 {
  background: var(--gray_700);
}

.event2 {
  background: var(--gray_300);
}

/* ====================================
============== sns ===============    
==================================== */
.snsTitle {
  margin-top: 30rem;
  display: flex;
  justify-content: center;
}

.snsId {
  width: 43rem;
  height: 11.7rem;
  background: var(--gray_500);
}

.snsImg {
  height: 28.8rem;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  margin-bottom: 13rem;
  box-sizing: content-box;
}

.snsImg>img {
  width: 28.8rem;
  margin: 0 10px;
  background: var(--gray_500);
}

/* ====================================
============== footer ===============    
==================================== */
footer {
  /* height: auto; */
  background: var(--gray_700);
}

.footer_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogo {
  margin-top: 80px;
  margin-bottom: 40px;
}

.footerLogo>img {
  width: 180px;
  height: 66px;
  background: var(--gray_300);
}

.icon {
  width: 336px;
  height: 36px;
  margin-bottom: 40px;
  background: var(--gray_300);
}

.privacy {
  width: 113px;
  height: 23px;
  background: var(--gray_300);
}

.info {
  width: 923px;
  height: 52px;
  background: var(--gray_300);
  margin: 50px 40px 0 0;
  /* box-sizing: border-box; */
}

.copy {
  width: 294px;
  height: 26px;
  background: var(--gray_300);
  margin-top: 60px 65px 0 0;
}