@import url(./common.css);

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--main-back);
  color: var(--main-Orange);
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.inner {
  width: 100%;

  height: 100%;
}

.df {
  display: flex;
}

/* ====================================
============== header ===============    
==================================== */
header {
  width: 100%;
  height: 10rem;
  position: fixed;
  z-index: 1000;
  background-color: #fff;
}

.gnb_inner {
  width: 100%;
  padding: 0 8rem;
  font-size: 1.8rem;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 12.2rem;
  vertical-align: middle;
}
.gnb {
  margin-left: 12.9rem;
  position: relative;
}
.gnb>li {
  width: 14rem;
  height: 10rem;
  line-height: 10rem;
  margin: 0 2.5rem;
  cursor: pointer;
}
.lnb {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.lnb>li {
  width: 14rem;
  height: 5rem;
  line-height: 5rem;
  font-weight: 400;
}
.gnb:hover .lnb {
  height: 35rem;
}

nav::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0px;
  background: #fff;
  left: 0;
  top: 100%;
  transition: all 0.5s;
}
nav:hover::before {
  height: 35rem;
}

.util {
  width: 25.4rem;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}

.util button {
  border-radius: 2rem;
  background: var(--main-Orange);
  color: white;
  font-size: 1.6rem;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0.7rem 2.4rem;
  margin-right: 16px;
  border: 1px solid transparent;
}

.util img {
  vertical-align: top;
}
/* ====================================
============== mainBanner ===============    
==================================== */
.mainBanner_inner img {
  width: 100%;
}

/* ====================================
============== product ===============    
==================================== */
.half {
  width: 50%;
  height: 100vh;
}

.leftIbg {
  background-image: url(../imgs/leftbg.jpg);
  background-size: cover;
}

/* ====================================
============== brand ===============    
==================================== */
.brand_inner {
  border-bottom: 1px solid var(--main-Orange);
}

.guide {
  text-align: center;
}

.guide>img {
  width: 41rem;
  height: 12.4rem;
  margin: 16rem 0;
}

.brandImg>img {
  width: 100%;
}

/* 텍스트 슬라이드 */
.textSlide {
  height: 5.4rem;
  margin: 30px 0;
  align-items: center;
}

.textline {
  height: 4.5rem;
  position: absolute;
  display: flex;
  animation: slide 32s linear infinite;
}

.textline span {
  display: inline-block;
  width: 70rem;
  margin-right: 1rem;
  color: var(--main-Orange);
  font-size: 3.6rem;
}

.textline img {
  max-width: 100%;
  vertical-align: top;
}

.textline2 {
  animation-delay: -16s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* ====================================
============== newsEvent ===============    
==================================== */
.newsEvent_inner {
  border-top: 1px solid rgba(111, 112, 112, 0.3);
}

.leftNE {
  width: 40%;
  border-right: 1px solid rgba(111, 112, 112, 0.3);
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}

.leftText {
  margin: 4rem 0 0 8rem;
  font-size: 10rem;
  font-weight: 700;
}

.rightNE {
  flex-direction: column;
  width: 60%;
  position: relative;
}

.box_wrap {
  width: 100%;
  height: 33.33%;
  padding: 6rem;
  border-bottom: 1px solid rgba(111, 112, 112, 0.3);
}

.rightNE span {
  display: block;
}

.texteBox {
  flex-direction: column;
  width: 85%;
  
}

.eBox {
  justify-content: space-between;
}

.arrow {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  opacity: 0.7;
}

.box_main {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.box_date {
  font-size: 1.6rem;
  line-height: 2.4rem;
  opacity: 0.6;
}
.rotate_circlebox {
  position: relative;
}
.rotate_circle {
  width: 184px;
  height: 184px;
  position: absolute;
  top: -6.5rem;
  left: -58%;
  animation: circle 5s linear infinite;
  transition: 5s linear infinite;
}

.rotate_circlebox a{
  width: 71px;
  height: 48px;
  position: absolute;
  top: 102%;
  left: -52%;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ====================================
============== sns ===============    
==================================== */
.snsTitle {
  margin-top: 30rem;
  justify-content: center;
}

.snsId>img {
  max-width: 100%;
  box-sizing: content-box;
}

.snsId>p {
  font-size: 5rem;
  font-weight: bold;
  line-height: 11.7rem;
  margin-left: 1.6rem;
  letter-spacing: -0.05rem;
}

.snsImg {
  padding: 7rem 0;
  justify-content: center;
  margin-bottom: 13rem;
}

.snsImg>img {
  width: 20%;
  margin: 0 1rem;
}

/* ====================================
============== footer ===============    
==================================== */
.footer_inner {
  background: var(--main-Orange);
  color: white;
  flex-direction: column;
  align-items: center;

}

.footerLogo {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.icon {
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.icon>a {
  margin: 0 3.6rem;
}

.privacy {
  font-weight: 500;
}

.footinfo {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.infoBar {
  width: 0.1rem;
  height: 1.3rem;
  background-color: white;
  margin-top: 0.2rem;
  opacity: 0.2;
}

.footinfo span {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin: 0 1rem;
  word-break: keep-all;
  letter-spacing: 0.35px;
}

.infoad {
  align-items: center;
}

.infonum {
  justify-content: center;
  align-items: center;
}

.copy span {
  font-size: 1.2rem;
  font-family: var(--font-proxima);
  line-height: 2.6rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.copy {
  justify-content: center;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6.5rem;
}

@media (max-width: 1650px) {
  .gnb_inner {
    padding: 0 4rem;
  }
}